spring:
  cloud:
    config:
      enabled: false

  application:
    name: notification

  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: empGroup
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: '*'
        spring.json.type.mapping: empInfo:com.example.notification.kafka.EmpInfo
  mail:
    host: localhost
    port: 1025
    username: anbu
    password: anbu
    properties:
      mail:
      smtp:
      trust: "*"
      auth: true
      starttls:
      enabled: true
      connectiontimeout: 5000
      timeout: 3000
      writetimeout: 5000

server:
  port: 8040